<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ส่งคำร้องไปยังหน่วยงาน</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/static/css/admin_admit_complaint.css">
</head>
<body>
    <h1>รับคำร้องเรียน</h1>
    <fieldset class="correction-section">
        <legend>พิจารณา/คัดกรอง ข้อร้องเรียนและส่งต่อหน่วยงาน</legend>
        <form id="correction-form">
            <label>ผู้วิเคราะห์ข้อร้องเรียน:</label>
            <input type="text" id="admin_name" readonly>

            <label>หัวข้อเรื่อง:</label>
            <input type="text" id="title" readonly>

            <label>ชื่อผู้ร้องเรียน:</label>
            <input type="text" id="name" readonly>

            <label for="original_date_display">วันที่พบปัญหา:</label>
            <input type="date" id="original_date_display" name="original_date_display" readonly>

            <label>ช่องทางติดต่อกลับผู้ร้องเรียน:</label>
            <div style="margin-bottom: 20px;">
                <label for="original_phone_display" style="font-weight: normal; margin-left: 10px;">โทรศัพท์:</label>
                <input type="text" id="original_phone_display" name="original_phone_display" readonly style="margin-bottom: 5px;">
                <label for="original_email_display" style="font-weight: normal; margin-left: 10px;">อีเมล:</label>
                <input type="email" id="original_email_display" name="original_email_display" readonly>
            </div>

            <label>รายละเอียด:</label>
            <textarea id="details" rows="5" readonly></textarea>

            <label for="original_team_display">ประเภทเรื่องที่ส่งมา (จากผู้ร้องเรียน):</label>
            <input type="text" id="original_team_display" name="original_team_display" readonly>

            <label for="department">หน่วยงานสำหรับจัดการ (ที่ Admin เลือก):</label>
            <select name="team" id="department" required>
                <option value="" disabled selected>--- กรุณาเลือกหน่วยงาน ---</option>
                <option value="ด้านบุคลากร">ด้านบุคลากร</option>
                <option value="การบริการงานวิจัย">การบริการงานวิจัย</option>
                <option value="การบริการวิชาการ">การบริการวิชาการ</option>
                <option value="การบริหารจัดการของ PIM">การบริหารจัดการของ PIM</option>
                <option value="การบริการแก่นักศึกษา">การบริการแก่นักศึกษา</option>
                <option value="อื่นๆ">อื่นๆ</option>
            </select>

            <label>ข้อมูลเพิ่มเติม (ถ้ามี):</label>
            <textarea id="additional-info" rows="3"></textarea>
            <button type="submit">ส่งเรื่องร้องเรียน</button>
        </form>
    </fieldset>

    <script type="module" src="/static/js/admin_admit_complaint.js"></script>
</body>
</html>
